[user]
    name = Derek Huang
    email = derekh919@gmail.com
[branch]
    autosetupmerge = true
[diff]
    mnemonicprefix = true
    algorithm = patience
[color]
    ui = auto
[core]
    editor = vim
    autocrlf = false
    safecrlf = true
    pager = diff-so-fancy | less --tabs=2 -RFX
[push]
    default = upstream
[pull]
    rebase = false
[alias]
    alias = config --get-regexp ^alias\\.
    br = branch
    ci = commit
    co = checkout
    hist = log --pretty=format:'%C(bold blue)%h%C(reset) %C(bold cyan)%ad%C(reset) | %C(bold green)%s%C(reset)%C(bold yellow)%d%C(reset) [%C(white)%an%C(reset)]' --graph --date=short
    prul = !git pull && git remote update origin --prune
    pu = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
    pum = !git pull origin main
    re = restore
    sm = switch main
    st = status
    sta = stash
    stp = stash pop
    sw = switch
[merge]
    tool = opendiff
    conflictstyle = zdiff3
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[credential]
    helper = store
[rerere]
    # Remember my merges
    # http://gitfu.wordpress.com/2008/04/20/git-rerere-rereremember-what-you-did-last-time/
    enabled = true
[include]
    path = .gitconfig.work
