tap "homebrew/bundle"
tap "homebrew/services"
brew "age"
brew "blueutil"
brew "chezmoi"
brew "clang-format"
brew "coreutils"
brew "cpplint"
brew "diff-so-fancy"
brew "docker", link: false
brew "dockutil"
brew "fd"
brew "findutils"
brew "fzf"
brew "gdb"
brew "gh"
brew "git"
brew "glib"
brew "gnu-sed"
brew "gnupg"
brew "go"
brew "htop"
brew "imagemagick"
brew "jq"
brew "krb5"
brew "lazygit"
brew "libxml2"
brew "libxslt"
brew "lua"
brew "neovim"
brew "pandoc"
brew "powerlevel10k"
brew "pyenv"
brew "rename"
brew "ripgrep"
brew "ruff"
brew "the_silver_searcher"
brew "tldr"
brew "tmux"
brew "wget"
brew "zoxide"
{{- if eq .chezmoi.username "derek" }}
cask "adobe-acrobat-reader"
cask "anki"
cask "basictex"
{{- end }}
cask "beardedspice"
{{- if eq .chezmoi.username "dhuang295" }}
cask bitwarden
{{- end }}
{{- if eq .chezmoi.username "derek" }}
cask "cityofzion-neon"
{{- end }}
cask "docker"
cask "dropbox"
cask "firefox"
cask "font-jetbrains-mono"
cask "google-chrome"
cask "hammerspoon"
{{- if eq .chezmoi.username "derek" }}
cask "ledger-live"
{{- end }}
cask "obsidian"
cask "slack"
cask "spotify"
{{- if eq .chezmoi.username "derek" }}
cask "steam"
cask "via"
{{- end }}
cask "visual-studio-code"
cask "wezterm"
cask "zoom"
