tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/services"
brew "blueutil"
brew "chezmoi"
brew "clang-format"
brew "coreutils"
brew "cpplint"
brew "diff-so-fancy"
brew "docker", link: false
brew "dockutil"
brew "exercism"
brew "fd"
brew "findutils"
brew "fzf"
brew "gdb"
brew "gh"
brew "git"
brew "glib"
brew "gnu-sed"
brew "gnupg"
brew "go"
brew "htop"
brew "imagemagick"
brew "jq"
brew "krb5"
brew "libxml2"
brew "libxslt"
brew "lua"
brew "neovim"
brew "pandoc"
brew "powerlevel10k"
brew "pyenv"
brew "rename"
brew "ripgrep"
brew "ruff"
brew "the_silver_searcher"
brew "tldr"
brew "tmux"
brew "wget"
{{- if eq .chezmoi.username "derek" }}
cask "adobe-acrobat-reader"
cask "anki"
{{- end }}
cask "basictex"
cask "beardedspice"
{{- if eq .chezmoi.username "derek" }}
cask "cityofzion-neon"
{{- end }}
cask "docker"
cask "dropbox"
cask "firefox"
cask "font-fira-code"
cask "google-chrome"
cask "hammerspoon"
cask "insomnia"
{{- if eq .chezmoi.username "derek" }}
cask "ledger-live"
{{- end }}
cask "obsidian"
cask "slack"
cask "spotify"
{{- if eq .chezmoi.username "derek" }}
cask "steam"
cask "via"
{{- end }}
cask "visual-studio-code"
cask "wezterm"
cask "zoom"
vscode "alefragnani.bookmarks"
vscode "charliermarsh.ruff"
vscode "compulim.indent4to2"
vscode "dbaeumer.vscode-eslint"
vscode "dotjoshjohnson.xml"
vscode "eamodio.gitlens"
vscode "editorconfig.editorconfig"
vscode "golang.go"
vscode "james-yu.latex-workshop"
vscode "liviuschera.noctis"
vscode "maziac.asm-code-lens"
vscode "ms-azuretools.vscode-docker"
vscode "ms-python.python"
vscode "ms-toolsai.jupyter-keymap"
vscode "ms-toolsai.jupyter-renderers"
vscode "ms-vscode-remote.remote-containers"
vscode "ms-vscode-remote.remote-ssh"
vscode "ms-vscode-remote.remote-ssh-edit"
vscode "ms-vscode.cpptools"
vscode "ms-vscode.remote-explorer"
vscode "ms-vscode.test-adapter-converter"
vscode "mtxr.sqltools"
vscode "pkief.material-icon-theme"
vscode "redhat.vscode-yaml"
vscode "samuelcolvin.jinjahtml"
vscode "tyriar.sort-lines"
vscode "vscodevim.vim"
vscode "ziyasal.vscode-open-in-github"
