{{- if eq .chezmoi.username "dhuang295" }}
[user]
    name = dhuang295
    email = dhuang295@bloomberg.net
[init]
    defaultBranch = main
[alias]
    puom = !git pull origin main
    puum = !git pull upstream main
    puumpu = !git pull upstream main && git push
[core]
    fileMode = false
[url "bbgithub:"]
    insteadOf = https://bbgithub.dev.bloomberg.com/
[http]
    proxy = http://proxy.bloomberg.com:81
[https]
    proxy = http://proxy.bloomberg.com:81
{{- end }}
