{{- if eq .chezmoi.os "linux" }}
FZF_DIR=/home/vagrant/.fzf
{{- else if eq .chezmoi.os "darwin" }}
FZF_DIR=/Users/derekhuang/.fzf
{{- end }}

# Setup fzf
# ---------
if [[ ! "$PATH" == *"$FZF_DIR"/bin* ]]; then
  export PATH="$PATH:$FZF_DIR/bin"
fi

# Auto-completion
# ---------------

[[ $- == *i* ]] && source "$FZF_DIR/shell/completion.zsh" 2> /dev/null

# Key bindings
# ------------

source "$FZF_DIR/shell/key-bindings.zsh"

