export EDITOR='nvim'
export VISUAL='nvim'
export GPG_TTY=$(tty)
export HISTTIMEFORMAT="%d/%m/%y %T "
export KEYTIMEOUT=1
export PYTHONDONTWRITEBYTECODE=1
{{- if eq .chezmoi.os "darwin" }}
BREW_DIR=$(brew --prefix)
export GOPATH="${BREW_DIR}/bin/go"
export GOBIN="${BREW_DIR}/bin"
{{- end }}

# add color to man pages
export MANROFFOPT='-c'
export LESS_TERMCAP_mb=$(tput bold; tput setaf 2)
export LESS_TERMCAP_md=$(tput bold; tput setaf 6)
export LESS_TERMCAP_me=$(tput sgr0)
export LESS_TERMCAP_mh=$(tput dim)
export LESS_TERMCAP_mr=$(tput rev)
export LESS_TERMCAP_se=$(tput rmso; tput sgr0)
export LESS_TERMCAP_so=$(tput bold; tput setaf 3; tput setab 4)
export LESS_TERMCAP_ue=$(tput rmul; tput sgr0)
export LESS_TERMCAP_us=$(tput smul; tput bold; tput setaf 7)

{{- if eq .chezmoi.hostname "mbp13-personal" }}
[[ $PATH != */usr/local/opt/findutils/libexec/gnubin* ]] && PATH="${PATH}:/usr/local/opt/findutils/libexec/gnubin"
[[ $PATH != */usr/local/opt/coreutils/libexec/gnubin* ]] && PATH="${PATH}:/usr/local/opt/coreutils/libexec/gnubin"
[[ $PATH != */usr/local/texlive/2022basic/bin/universal-darwin* ]] && PATH="${PATH}:/usr/local/texlive/2022basic/bin/universal-darwin"
{{- end }}
[[ $PATH != *$GOPATH/bin* ]] && PATH="${PATH}:${GOPATH}/bin"
[[ $PATH != *$GOROOT/bin* ]] && PATH="${PATH}:${GOROOT}/bin"
export PATH

{{- if eq .chezmoi.os "darwin" }}
function ftmr {
  # Fix tmux-resurrect
  local -r tmr_dir=~/.local/share/tmux/resurrect
  local -r top5=$(find "$tmr_dir" -name "*.txt" -type f | awk -F '/' '{print $NF}' | sort -rn | head -n 5)
  # echo "$top5"
  local -r second_most_recent=$(echo "$top5" | sed -n '2p')
  rm "${tmr_dir}/last"
  # echo "$second_most_recent"
  ln -sf "${tmr_dir}/${second_most_recent}" "${tmr_dir}/last"
}

function ggrep {
  # Git grep all directories in the current directory
  for d in $(find . -type d -depth 1); do
    git -C "$d" status &>/dev/null
    if [ $? -eq 0 ]; then
      git --no-pager -C "$d" grep "$@" &>/dev/null
      if [ $? -eq 0 ]; then
        echo "######################"
        echo "# ${d:2}"
        echo "######################"
        git --no-pager -C "$d" grep -C 3 -n --break --heading "$@"
        echo ""
      fi
    fi
  done
}

function gurl {
  if [ -z "$1" ]; then
    echo "Repo required" >&2
    return 1
  fi
  local -r url=$(git -C "${HOME}/Projects/tssr/${1}" config --get remote.upstream.url)
  echo -n $url | pbcopy
  echo "Copied '${url}' to clipboard"
}

function fmt_img {
  magick "$1" "$2"
  magick "$2" -resize 30% "$2"
}

function _get_last_md {
  find "${1}" -name "*.md" -type f | awk -F '/' '{print $NF}' | sort -rn | head -n 1
}

function mng {
  local -r scratch="${HOME}/dev/notes/scratch"
  local -r year=$(gdate +%Y)
  local -r month=$(gdate +%m)
  local -r today=$(gdate +%d_%a | tr '[:upper:]' '[:lower:]')
  local -r today_path="${scratch}/${year}/${month}/${today}.md"
  local prev_md
  local prev_dir

  if [[ -f "${today_path}" ]]; then
    echo "${today_path} already exists" >&2
    return 0
  fi

  # Make sure the current year month dir exists
  mkdir -p "${scratch}/${year}/${month}"

  # Get the most recent md before today
  prev_md=$(_get_last_md "${scratch}/${year}/${month}")
  if [[ -z "${prev_md}" ]]; then
    # Make sure we get the last md if it's been longer than a month since the last
    while [[ -z "${prev_md}" ]]
    do
      # Keep decrementing by a month, going back to prev years if needed
      prev_dir=$(gdate -d "1 month ago" +%Y/%m)
      prev_md=$(_get_last_md "${scratch}/${prev_dir}")
    done
  else
    prev_dir="${year}/${month}"
  fi

  local -r unfinished_todos=$(sed -E -ne '/(- \[ \] [\w]*|Urgent & Important|Not Urgent & Important|Urgent & Not Important|Not Urgent & Not Important)/p' "${scratch}/${prev_dir}/${prev_md}")

  printf "# Todo\n%s\n\n# Notes" "$unfinished_todos" >> "${today_path}"

  return 0
}

function tp {
  if ! type blueutil &> /dev/null; then
    echo "blueutil not installed" >&2
    return 1
  elif [ $(blueutil -p) -eq 0 ]; then
    echo "Bluetooth is off. Toggling..." >&2
    blueutil -p toggle
  fi
  local trackpad="a0-78-17-e3-31-79"
  local tries=0
  local retries=3
  echo "Unpairing..."
  blueutil --unpair "$trackpad"
  echo "Connecting..."
  while [ $(blueutil --is-connected "$trackpad") -eq 0 ]; do
    if [ "$tries" -eq "$retries" ]; then
      echo "stopping after $retries retries" >&2
      return 1
    fi
    blueutil --connect "$trackpad"
    (( tries++ ))
  done
}

function ww {
  open /Applications/Google\ Chrome.app
  open /Applications/Obsidian.app
  open /System/Applications/Calendar.app
  open /Applications/Bitwarden.app
  open /Applications/Docker.app
  open /Applications/Spotify.app
}

function clean_docker {
  echo "Deleting containers..."
  for cid in $(docker ps -a | tail -n +2 | awk '{print $1}'); do
    docker rm -f $cid
    echo "  > $cid"
  done
  echo "\nPruning images..."
  docker image prune -af
  echo "\nPruning volumes..."
  docker volume prune -af
  echo "\nPruning builder cache..."
  docker builder prune -f
  docker system df
}
{{- end }}

function cze {
  if [ -z "$1" ]; then
    echo "File required" >&2
    return 1
  fi

  case "$1" in
    nvim) chezmoi edit ~/.config/nvim; return 0;;
    wezterm) chezmoi edit ~/.config/wezterm/wezterm.lua; return 0;;
    zsh) chezmoi edit ~/.zshrc; return 0;;
  esac

  chezmoi edit "$1"
}

function take {
  mkdir -p $@ && cd ${@:$#}
}

zstyle ':completion:*' use-cache on
zstyle ':completion:*' cache-path ~/.zsh/cache
zstyle ':completion:*' special-dirs true
zstyle ':completion:*:*:git:*' script ~/.zsh/completion/git-completion.bash

fpath=(~/.zsh/completion $fpath)
type brew &>/dev/null && fpath+=${BREW_DIR}/share/zsh/site-functions

[ -f ${BREW_DIR}/share/zsh-autocomplete/zsh-autocomplete.plugin.zsh ] && source ${BREW_DIR}/share/zsh-autocomplete/zsh-autocomplete.plugin.zsh
autoload -Uz compinit && compinit -i
autoload bashcompinit && bashcompinit
zmodload -i zsh/complist

[ -f ~/.custom ] && source ~/.custom 2>& /dev/null
{{- if eq .chezmoi.os "darwin" }}
[ -f ~/.config/wezterm/wezterm.sh ] && source ~/.config/wezterm/wezterm.sh

alias bubu="brew update && brew upgrade && brew cleanup"
alias tm=tmux
alias vt="cd ~/dev/notes"
{{- end }}
alias cz="chezmoi"
alias cza="chezmoi apply"
alias czu="chezmoi update"
alias ll="ls -lAh"
alias sbx="cd $HOME/dev/sandbox"
alias vim="nvim"
alias szsh="source ~/.zshrc"
alias czanvl="cz add ~/.config/nvim/lazy-lock.json"
alias g="git"

type -p fzf &>/dev/null && source <(fzf --zsh)
type -p starship &>/dev/null && eval "$(starship init zsh)"
type -p zoxide &>/dev/null && eval "$(zoxide init zsh)"
