[user]
    name = Derek Huang
    email = derekh919@gmail.com
[branch]
    autosetupmerge = true
    sort = -committerdate
[tag]
    sort = version:refname
[color]
    ui = auto
[core]
    autocrlf = false
    editor = nvim
    pager = delta
    safecrlf = true
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[delta]
    line-numbers = true
    navigate = true
    true-color = always
[interactive]
    diffFilter = delta --color-only
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[pull]
    rebase = false
[merge]
    conflictstyle = zdiff3
[credential]
    helper = store
[submodule]
    recurse = true
[alias]
    alias = config --get-regexp ^alias\\.
    br = branch
    ci = commit
    co = checkout
    fza = "!git ls-files -m -o --exclude-standard | fzf -m --print0 | xargs -0 git add"
    gone = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"
    hist = log --pretty=format:'%C(bold blue)%h%C(reset) %C(bold cyan)%ad%C(reset) | %C(bold green)%s%C(reset)%C(bold yellow)%d%C(reset) [%C(white)%an%C(reset)]' --graph --date=short
    prul = !git pull && git remote update origin --prune
    pu = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
    re = restore
    rem = remote
    rup = remote update origin --prune
    sm = !git switch $(git remote show upstream | grep \"HEAD branch\" | sed 's/.*: //')
    st = status -sb
    sta = stash
    stp = stash pop
    sw = switch
[includeIf "gitdir:~/Projects/"]
    path = .gitconfig.work
{{- if eq .chezmoi.username "dhuang295" }}
[http "https://github.com"]
    proxy = http://proxy.bloomberg.com:81
    sslCAinfo = ~/bb-cert/bloomberg-root-ca.crt
[url "https://github.com/"]
    insteadOf = github.com:
[url "https://github.com/"]
    insteadOf = git@github.com:
[url "https://github.com/"]
    insteadOf = ssh://git@github.com/
{{- end }}
