export SENDGRID_API_KEY="***REMOVED_SENDGRID***"
{{- if eq .chezmoi.username "dhuang295" }}
export GH_NO_UPDATE_NOTIFIER=1
export GOPRIVATE="*.dev.bloomberg.com"
export GOPROXY="https://goproxy.dev.bloomberg.com,direct"
export GOPATH=$HOME/go
[[ $PATH != *${GOPATH}/bin* ]] && PATH="${PATH}:${GOPATH}/bin"
[[ $PATH != *${HOME}/Projects/dhuang295/scripts* ]] && PATH="${PATH}:${HOME}/Projects/dhuang295/scripts"
export PIPENV_PYPI_MIRROR=https://artprod.dev.bloomberg.com/artifactory/api/pypi/bloomberg-pypi/simple
export BPKG_TOKEN_DEV=***REMOVED_BPKG_DEV***
export BPKG_TOKEN=***REMOVED_BPKG_PROD***
export https_proxy="http://127.0.0.1:8888"
export HTTPS_PROXY="$https_proxy"
export http_proxy="$https_proxy"
export HTTP_PROXY="$https_proxy"
# export no_proxy="127.0.0.1,169.254.169.254,bcc.bloomberg.com,bcpc.bloomberg.com,bcs.bloomberg.com,bdns.bloomberg.com,cloud.bloomberg.com,dev.bloomberg.com,dx.bloomberg.com,inf.bloomberg.com,localhost,localhost,prod.bloomberg.com,guts.admin.bloomberg.com"
export LCLDEV_ENABLE_TELEPORT=1

BBID=31453293

alias dpxy='http_proxy=http://bproxy.tdmz1.bloomberg.com:80 https_proxy=http://bproxy.tdmz1.bloomberg.com:80'
alias epxy='http_proxy=http://proxy.bloomberg.com:81 https_proxy=http://proxy.bloomberg.com:81'
alias mbs="curl --noproxy '*' -s \"https://lcldev-public.dx.bloomberg.com/mac-$(uname -p)-bootstrap\" -o /tmp/bootstrap && chmod +x /tmp/bootstrap && /tmp/bootstrap"
alias scripts='cd ~/Projects/dhuang295/scripts'
alias ts='cd ~/Projects/tssr'

export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" # This loads nvm

function tglpxy {
  local pip="${HOME}/.pip/pip.conf"
  local npm="${HOME}/.npmrc"

  if [ -f "$pip" ]; then
    echo "Renaming pip.conf to ._pip.conf"
    mv ~/.pip/{,_}pip.conf
  else
    echo "Reverting _pip.conf rename"
    mv ~/.pip/{_,}pip.conf
  fi

  if [ -f "$npm" ]; then
    echo "Renaming .npmrc to ._npmrc"
    mv ~/.{,_}npmrc
  else
    echo "Reverting ._npmrc rename"
    mv ~/.{_,}npmrc
  fi
}
{{- end }}
