# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"
export EDITOR="vim"
export HISTTIMEFORMAT="%d/%m/%y %T "
export NVM_DIR="$HOME/.nvm"
export FZF_DIR="$HOME/.fzf"
{{- if eq .chezmoi.os "linux" }}
export BIO_ROOT="${HOME}/beeswaxio"
export BW_USER="derek"
export GOPATH="${HOME}/go/"
export JIRA_API_USER=derek@beeswax.com
export JIRA_API_TOKEN={{ .BW_JIRA_TOKEN }}
export GITHUB_API_TOKEN={{ .BW_GITHUB_TOKEN }}
export GOOGLE_MAPS_API_KEY={{ .BIO_GMAPS_KEY }}
export GOOGLE_MAPS_SECRET_KEY={{ .BIO_GMAPS_SECRET }}
export METAMARKETS_SECRET_KEY={{ .BIO_METAMARKETS_SECRET }}

[[ $PATH != *"${HOME}/.npm-global/bin"* ]] && PATH="${PATH}:${HOME}/.npm-global/bin"
# adding go to PATH
[[ $PATH != */usr/local/go/bin* ]] && PATH="${PATH}:/usr/local/go/bin"
# adding `go` packages to PATH
[[ $PATH != *$GOPATH* ]] && PATH="${PATH}:${GOPATH}bin"
# adding `hive` to PATH
[[ $PATH != *$BIO_ROOT/bazel-bin/beeswax/prod/hive* ]] && PATH="${PATH}:${BIO_ROOT}/bazel-bin/beeswax/prod/hive"
# adding `buzz-cli` to PATH
[[ $PATH != *$BIO_ROOT/bazel-bin/beeswax/buzz* ]] && PATH="${PATH}:${BIO_ROOT}/bazel-bin/beeswax/buzz"
# adding `.yarn/bin` to PATH
[[ $PATH != *$HOME/.yarn/bin* ]] && PATH="${PATH}:${HOME}/.yarn/bin"
# for php codesniffer
[[ $PATH != *$BIO_ROOT/beeswax/buzz_api/buzz/vendor/bin* ]] && PATH="${PATH}:${BIO_ROOT}/beeswax/buzz_api/buzz/vendor/bin"
# for Beeswax Workflow Tool (bw)
[[ $PATH != *$BIO_ROOT/beeswax/bw/bin* ]] && PATH="${PATH}:${BIO_ROOT}/beeswax/bw/bin"
{{- else if eq .chezmoi.os "darwin" }}
[[ $PATH != */Users/derek/Library/Python/3.8/bin* ]] && PATH="${PATH}:/Users/derek/Library/Python/3.8/bin"
[[ $PATH != */usr/local/opt/postgresql@12/bin* ]] && PATH="${PATH}:/usr/local/opt/postgresql@12/bin"
export PYTHONPATH=/usr/bin/python
export PYTHONDONTWRITEBYTECODE=1
export RUBY_CONFIGURE_OPTS="--with-openssl-dir=$(brew --prefix openssl@1.1)"
{{- end }}
[[ $PATH != *$HOME/.local/bin* ]] && PATH="${PATH}:${HOME}/.local/bin"
export PATH

function bubu {
  brew update && brew upgrade && brew cleanup
}
function prof {
  chezmoi edit ~/.zshrc
}
function reprof {
  source ~/.zshrc
}

# chezmoi shortcuts
function chcd {
  chezmoi cd
}
function che {
  chezmoi edit "$HOME/.${1}"
}
function chu {
  chezmoi update
}

{{- if eq .chezmoi.os "linux" }}
function convert_app_name {
  local app=${1}
  case $app in
    as | aster ) app="aster" ;;
    bk | beekeeper ) app="beekeeper" ;;
    ns | nest ) app="nest" ;;
    hc | honeycrisp ) app="honeycrisp" ;;
    st | stats ) app="stats" ;;
  esac
  echo $app
}
function cdb {
  cd "${BIO_ROOT}"
}
function cucu {
  xvfb-run -a bundle exec cucumber "$@"
}
function ui {
  cd "${BIO_ROOT}/beeswax/buzz_ui"
}
function fes {
  cd "${BIO_ROOT}/beeswax/buzz_fes_ui"
}
function api {
  cd "${BIO_ROOT}/beeswax/buzz_api"
}
function next {
  local app=$(convert_app_name $1)
  cd "${BIO_ROOT}/beeswax/buzz_next/$app"
}
function ppl {
  cd "${BIO_ROOT}/beeswax/people/derek"
}
function compile_messages {
  $BIO_ROOT/beeswax/buzz_api/tools/compile_messages.py
  sudo service php7.4-fpm restart
}
function startas {
  # env DEBUGPY_LAUNCHER_PORT=34189 pipenv run python manage.py runserver_plus 0.0.0.0:7000 --nopin
  buzz_tool aster manage runserver 0.0.0.0:7000
}
function startbk {
  # env DEBUGPY_LAUNCHER_PORT=34189 pipenv run python manage.py runserver_plus 0.0.0.0:7050 --nopin
  buzz_tool beekeeper manage runserver 0.0.0.0:7050
}
function startui {
  cd "${BIO_ROOT}/beeswax/buzz_ui"
  npm cache verify && yarn run dev
}
function docker_clean {
  docker image prune -a
}
function sql {
  mysql -uroot -proot dev_buzz_db
}
function get_buzz_pw {
  echo "aws ssm get-parameter --name /buzz/password/prod/info_beeswax.com --with-decryption --query 'Parameters[0].Value' | tr -d '\"'"
}
function migrate_log {
  local app=$(convert_app_name $1)
  local flag=${3:--l}
  if [[ ${flag} == "-t" ]]; then
    tail -f -n 100 "/var/log/beeswax/buzz-next/$app/$2.log"
  else
    less +G "/var/log/beeswax/buzz-next/$app/$2.log"
  fi
}
function migrate {
  local app=$(convert_app_name $1)
  shift || true
  buzz_tool $app migrate "$@"
}
function buzz_test {
  if [[ "$1" == "-d" ]]; then
    shift
    bazel run //beeswax/buzz_api/test:run_tests -- "$@"
  else
    sudo phpdismod xdebug
    bazel run //beeswax/buzz_api/test:run_tests -- "$@"
    sudo phpenmod xdebug
  fi
}
{{- else if eq .chezmoi.os "darwin" }}
function sbx {
  local sbx_path="$HOME/dev/sandbox"
  if [[ ! -d "$sbx_path" ]]; then
    echo "$sbx_path doesn't exist"
  else
    cd "$sbx_path" 
  fi
}
function vm {
  local vm_path="$HOME/beeswax/vms/cloudvm"
  if [[ -d "$vm_path" ]]; then
    cd "$vm_path"
  else
    echo "$vm_path doesn't exist"
  fi
}
function ww {
  open /System/Applications/Calendar.app
  open /Applications/Slack.app
  open /Applications/Spotify.app
  open /Applications/Typora.app
}
function in {
  vm && aws2-wrap --profile dev vagrant ssh
}
function up {
  vm && code
}
function down {
  osascript -e 'quit app "Visual Studio Code"'
}
function setup {
  cd ~/dev/setup
}
{{- end }}

# This way the completion script does not have to parse Bazel's options
# repeatedly.  The directory in cache-path must be created manually.
zstyle ':completion:*' use-cache on
zstyle ':completion:*' cache-path ~/.zsh/cache
zstyle ':completion:*' special-dirs true 
zstyle ':completion:*:*:git:*' script ~/.zsh/completion/git-completion.bash

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/rovmyrussell/oh-my-zsh/wiki/Themes
ZSH_THEME="powerlevel10k/powerlevel10k"

# Which plugins would you like to load?
# Standard plugins can be found in ~/.oh-my-zsh/plugins/*
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(fzf git sudo)

fpath=(~/.zsh/completion/ $fpath)
{{- if eq .chezmoi.os "linux"}}
fpath+=(/usr/local/bin/bazel)
{{- end }}
if type brew &>/dev/null; then
  fpath+=$(brew --prefix)/share/zsh/site-functions
fi

source $ZSH/oh-my-zsh.sh
autoload -Uz compinit && compinit
autoload bashcompinit && bashcompinit
zmodload -i zsh/complist

{{- if eq .chezmoi.os "linux" }}
source ~/.bash_completion.d/python-argcomplete

source /usr/local/lib/bazel/bin/bazel-complete.bash

eval "$(register-python-argcomplete hive)"  # hive autocomplete!

eval "$(register-python-argcomplete bw)"
{{- end }}

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ -f ~/.p10k.zsh ]] && source ~/.p10k.zsh
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
{{- if eq .chezmoi.os "linux" }}
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
{{- else if eq .chezmoi.os "darwin" }}
[ -s /usr/local/opt/nvm/nvm.sh ] && \. /usr/local/opt/nvm/nvm.sh
[ -s /usr/local/opt/nvm/etc/bash_completion.d/nvm ] && \. /usr/local/opt/nvm/etc/bash_completion.d/nvm
{{- end }}

{{- if eq .chezmoi.os "linux"}}
alias setup_vm=$BIO_ROOT/beeswax/setup/dev/setup_vm.sh
{{- end }}
alias htop="sudo htop"
alias ll="ls -lahF"
alias ipy=ipython

eval $(thefuck --alias)

{{- if eq .chezmoi.os "darwin" }}
eval "$(pyenv init -)"
pyenv shell 3.7.5
{{- end }}

# david energy
{{- if eq .chezmoi.os "darwin" }}
alias startdb="pg_ctl -D /usr/local/var/postgresql@12 start"
alias stopdb="pg_ctl -D /usr/local/var/postgresql@12 stop"
alias cdd="cd ~/dev/dave-energy"
alias startapi="FLASK_ENV=development pipenv run flask run"
alias startui="yarn cache clean && yarn dev"
alias sql="psql denergy"
{{- end }}

