# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"
export EDITOR="vim"
export HISTTIMEFORMAT="%d/%m/%y %T "
export NVM_DIR="$HOME/.nvm"
export FZF_DIR="$HOME/.fzf"
{{- if eq .chezmoi.os "linux" }}
export BIO_ROOT="${HOME}/beeswaxio"
export BW_USER="derek"
export GOPATH="${HOME}/go/"
export PYTHONPATH="$BIO_ROOT"
export JIRA_API_USER=derek@beeswax.com
export JIRA_API_TOKEN={{ .BW_JIRA_TOKEN }}
export GITHUB_API_TOKEN={{ .BW_GITHUB_TOKEN }}
export GOOGLE_MAPS_API_KEY={{ .BIO_GMAPS_KEY }}
export GOOGLE_MAPS_SECRET_KEY={{ .BIO_GMAPS_SECRET }}
export METAMARKETS_SECRET_KEY={{ .BIO_METAMARKETS_SECRET }}

[[ $PATH != *"${HOME}/.npm-global/bin"* ]] && PATH="${PATH}:${HOME}/.npm-global/bin"
# adding go to PATH
[[ $PATH != */usr/local/go/bin* ]] && PATH="${PATH}:/usr/local/go/bin"
# adding `go` packages to PATH
[[ $PATH != *$GOPATH* ]] && PATH="${PATH}:${GOPATH}bin"
# adding `hive` to PATH
[[ $PATH != *$BIO_ROOT/bazel-bin/beeswax/prod/hive* ]] && PATH="${PATH}:${BIO_ROOT}/bazel-bin/beeswax/prod/hive"
# adding `buzz-cli` to PATH
[[ $PATH != *$BIO_ROOT/bazel-bin/beeswax/buzz* ]] && PATH="${PATH}:${BIO_ROOT}/bazel-bin/beeswax/buzz"
# adding `.yarn/bin` to PATH
[[ $PATH != *$HOME/.yarn/bin* ]] && PATH="${PATH}:${HOME}/.yarn/bin"
# for php codesniffer
[[ $PATH != *$BIO_ROOT/beeswax/buzz_api/buzz/vendor/bin* ]] && PATH="${PATH}:${BIO_ROOT}/beeswax/buzz_api/buzz/vendor/bin"
# for buzz executables
[[ $PATH != *$BIO_ROOT/beeswax/people/derek/exec* ]] && PATH="${PATH}:${BIO_ROOT}/beeswax/people/derek/exec"
# for Beeswax Workflow Tool (bw)
[[ $PATH != *$BIO_ROOT/beeswax/bw/bin* ]] && PATH="${PATH}:${BIO_ROOT}/beeswax/bw/bin"
export PATH
{{- else if eq .chezmoi.os "darwin" }}
export PYTHONPATH=/usr/bin/python
export PYTHONDONTWRITEBYTECODE=1
{{- end }}

function prof {
  chezmoi edit ~/.zshrc
}
function reprof {
  source ~/.zshrc
}
function npr {
  npm run "$1"
}

# chezmoi shortcuts
function chcd {
  chezmoi cd
}
function che {
  chezmoi edit "$HOME/.${1}"
}
function chu {
  chezmoi update
}

{{- if eq .chezmoi.os "linux" }}
function cdb {
  cd "${BIO_ROOT}"
}
function ui {
  cd "${BIO_ROOT}/beeswax/buzz_ui"
}
function fes {
  cd "${BIO_ROOT}/beeswax/buzz_fes_ui"
}
function api {
  cd "${BIO_ROOT}/beeswax/buzz_api"
}
function next {
  cd "${BIO_ROOT}/beeswax/buzz_next/$1"
}
function ppl {
  cd "${BIO_ROOT}/beeswax/people/derek"
}

function use_app {
  beeve activate //beeswax/buzz_api/dev:use_app_env
  bazel run //beeswax/buzz_api/dev:use_app -- "$1"
  deactivate
}
function compile_messages {
  $BIO_ROOT/beeswax/buzz_api/tools/compile_messages.py
}
function startui {
  cd "${BIO_ROOT}/beeswax/buzz_ui"
  npm cache verify && yarn run dev
}
function docker_clean {
  docker image prune -a
}
function sql {
  mysql -uroot -proot dev_buzz_db
}
function get_buzz_pw {
  echo "aws ssm get-parameter --name /buzz/password/prod/info_beeswax.com --with-decryption | jq .Parameter.Value | tr -d '\"'"
}
function master {
  git cm && git prul && git br -D @{-1}
}
function create_custom_migration {
  next $1
  pipenv run python manage.py makemigrations --empty "${1}_custom_migrations" --name $2
}
function migrate_log {
  local flag=${3:--l}
  if [[ ${flag} == "-t" ]]; then
    tail -f -n 100 "/var/log/beeswax/buzz-next/$1/migrate-$2.log"
  else
    less +G "/var/log/beeswax/buzz-next/$1/migrate-$2.log"
  fi
}
function migrate {
  next $1
  pipenv run python migrate.py $2 $3
  cd -
}
function rollback {
  local $app=${1:--h}
  if [[ ${app} == "-h" ]]; then
    cat <<EOF
    Usage: rollback [-h] <app> <migration app> <older migration>

    Rollback django migrations
EOF
  else
    next $app
    pipenv run python manage.py migrate $2 $3
    cd -
  fi
}
function buzz_test {
  sudo phpdismod xdebug
  bazel run //beeswax/buzz_api/test:run_tests -- "$@"
  sudo phpenmod xdebug
}
{{- else if eq .chezmoi.os "darwin" }}
function sbx {
  local sbx_path="$HOME/dev/sandbox"
  if [[ ! -d "$sbx_path" ]]; then
    echo "$sbx_path doesn't exist"
  else
    cd ~/dev/sandbox
  fi
}
function bb {
  local bb_path="$HOME/beeswax/vms/biobee"
  if [[ -d "$bb_path" ]]; then
    cd "$bb_path"
  else
    echo "$bb_path doesn't exist"
  fi
}
function workwork {
  open /System/Applications/Calendar.app
  open /System/Applications/Mail.app
  open /Applications/Slack.app
  open /Applications/Typora.app
  open /Applications/Spotify.app
}
function in {
  bb && vagrant ssh
}
function up {
  bb && vagrant up && code
}
function down {
  bb && vagrant halt
}
function setup {
  cd ~/dev/setup
}
{{- end }}

fpath[1,0]=~/.zsh/completion/

# This way the completion script does not have to parse Bazel's options
# repeatedly.  The directory in cache-path must be created manually.
zstyle ':completion:*' use-cache on
zstyle ':completion:*' cache-path ~/.zsh/cache
zstyle ':completion:*:*:git:*' script ~/.zsh/completion/git-completion.bash

autoload -Uz compinit && compinit
autoload bashcompinit
bashcompinit

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes
ZSH_THEME="powerlevel10k/powerlevel10k"

# Which plugins would you like to load?
# Standard plugins can be found in ~/.oh-my-zsh/plugins/*
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(git fzf)

source $ZSH/oh-my-zsh.sh

{{- if eq .chezmoi.os "linux" }}
source ~/.bash_completion.d/python-argcomplete

source /etc/profile.d/beeve_bash_init.sh

source /usr/local/lib/bazel/bin/bazel-complete.bash

eval "$(register-python-argcomplete hive)"  # hive autocomplete!

eval "$(register-python-argcomplete bw)"

eval $(ssh-agent)  # startup ssh-agent

ssh-add ~/.aws/bee-prod-ssh-key-pair.pem ~/.ssh/beeswax-gateway

aws ecr get-login --no-include-email | bash
{{- end }}

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ -f ~/.p10k.zsh ]] && source ~/.p10k.zsh
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
{{- if eq .chezmoi.os "linux" }}
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
{{- else if eq .chezmoi.os "darwin" }}
[ -s /usr/local/opt/nvm/nvm.sh ] && \. /usr/local/opt/nvm/nvm.sh
[ -s /usr/local/opt/nvm/etc/bash_completion.d/nvm ] && \. /usr/local/opt/nvm/etc/bash_completion.d/nvm
{{- end }}

{{- if eq .chezmoi.os "linux" }}
alias htop="sudo htop"
{{- else if eq .chezmoi.os "darwin" }}
alias pip=/usr/local/bin/pip3
alias python=/usr/local/bin/python3
{{- end }}
alias ll="ls -laF"

