[include]
    path = ~/.config/git/shared

[user]
    name = dhuang295
    email = dhuang295@bloomberg.net
[core]
    fileMode = false
[url "bbgithub:"]
    insteadOf = https://bbgithub.dev.bloomberg.com/
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
